/* .reset_password {
  height: 100vh;
}
.reset_password .main-content {
  height: 100%;
  width: 100%;
} */
/* 
.reset_password .header {
  height: 100%;
} */

/*      FilePicker      */
.filepicker_input {
  display: none;
}

.filepicker_main_div {
  width: 78%;
  height: auto;
  min-height: 7rem;
  border-radius: 50%;
  border: 1px solid #eaecf0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  /* position: relative;
  z-index: 1; */
}

.download_icon_div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text_div {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #667085;
  text-align: center;
  font-size: 13px;
}

.delete_product_file {
  position: absolute;
  cursor: pointer;
  padding-left: 5px;
  width: 15px;
  height: 12px;
  top: 10px;
  right: 10px;
}
.filepicker_image {
  align-items: 'center';
  margin-block: 5;
  width: 155px;
  height: 80px;
  position: relative;
}

.filepicker_image_img {
  width: 100%;
  /* height: 100px; */
  height: 137px;
  object-fit: cover;
  border-radius: 50%;
}

.color_field {
  height: 70px;
}
.modal-body {
  padding: 10px 1.5rem !important;
}

/*    Spinner   */
.spinner {
  position: fixed;
  z-index: 99999999999;
  top: 48.7%;
  left: 48.7%;
}

.code_status {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.view_brand {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 0.65rem 1.5rem;
}

.colorDivWidth {
  width: 13%;
}
.colorDivWidth2 {
  width: 13%;
}
.selectedBackground {
  border: 2px solid #219de3 !important;
}
.backGroundImgUpload {
  width: 160px;
  height: 100px;
  border-radius: 10px;
  margin: auto;
}
.faciconUpload {
  width: 160px;
  border-radius: 10px;
  margin: auto;
}
.backgroungImgColor {
  height: 100px;
  border-radius: 10px;
  padding: 5px;
  margin: 0px;
}
.defaultDiv {
  width: 160px;
  height: 100px;
  border-radius: 10px;
  margin: auto;
  border: 2px solid rgb(195, 190, 190);
  display: flex !important;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.uploadedBackgroundImg1 {
  width: 160px;
  height: 100px;
  border-radius: 10px;
  margin: auto;
  border: 2px solid rgb(195, 190, 190);
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.favIconDiv {
  display: flex;
}
.recentFavIcon {
  width: 100px;
  height: 80px;
  border-radius: 10px;
  margin: 10px 10px;
  border: 2px solid rgb(195, 190, 190);
  display: flex !important;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.selectedBackground1 {
  width: 160px;
  height: 100px;
  border-radius: 10px;
  margin: auto;
  border: 2px solid #219de3 !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.linkSaveBtn {
  background-color: #219de3;
  border: none;
  padding: 9px 20px;
  color: white;
  border-radius: 10px;
  margin: 8px 0px 8px 0px;
  align-items: flex-end;
}
.customeBtndiv1 {
  background-color: #e9e6e6;
  margin: 10px 10px;
  padding: 10px 10px;
  text-align: center;
  border-radius: 5px;
}
.customebtnp1 {
  background-color: #219de3;
  padding: 8px 5px;
  margin: 5px 5px;
  border-radius: 5px;
  color: white;
}
.customebtnp1:hover {
  cursor: pointer;
}
.customebtnoutlinep1 {
  background-color: transparent;
  border: 1px solid #219de3;
  padding: 8px 5px;
  margin: 5px 5px;
  border-radius: 5px;
}
.customebtnoutlinep1:hover {
  cursor: pointer;
}
.customebtnp2 {
  background-color: #219de3;
  padding: 8px 5px;
  margin: 5px 5px;
  border-radius: 25px;
  color: white;
}
.customebtnp2:hover {
  cursor: pointer;
}
.customebtnoutlinep2 {
  background-color: transparent;
  border: 1px solid #219de3;
  padding: 8px 5px;
  margin: 5px 5px;
  border-radius: 25px;
}
.customebtnoutlinep2:hover {
  cursor: pointer;
}
.customebtnp3 {
  background-color: #219de3;
  padding: 8px 5px;
  margin: 5px 5px;
  color: white;
}
.customebtnp3:hover {
  cursor: pointer;
}
.customebtnoutlinep3 {
  background-color: transparent;
  border: 1px solid #219de3;
  padding: 8px 5px;
  margin: 5px 5px;
}
.customebtnoutlinep3:hover {
  cursor: pointer;
}
.customeBtnSelected {
  border: 2px solid #219de3;
}
.colorDiv1 {
  background-color: #219de3;
  height: 50px;
  width: 140px;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.SelectedcolorDiv1 {
  border: 2px solid #219de3;
}
.colorDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.btnColorDiv {
  height: 50px;
  width: 140px;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}
.descriptionInput {
  padding: 35px 20px;
}

.SwitchDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
}
.checkboxInput {
  width: 26px;
  height: 14px;
  padding: 0px 10px;
}
.addFeedbackForm {
  display: flex;
  justify-content: center;
  background-color: #c9dfed;
  border-radius: 5px;
  padding: 10% 0px;
}
.addfeedbackimg {
  padding: 10px 0px;
  cursor: pointer;
}
.labelInput {
  border: none;
  padding: 0px;
}
.deleteIcon {
  position: relative;
  left: 90%;
  bottom: 36px;
  cursor: pointer;
  opacity: 0;
}
.deleteIcon:hover {
  opacity: 3;
}
.inpuFiledfeedback {
  border: 1px solid black;
  border-radius: 10px;
  color: gray !important;
}

.map_legend_color {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}
.duration_filter {
  padding: 3px 10px;
  border: 1px solid #2f2f2f;
  border-radius: 6px;
  margin-inline: 3px;
  cursor: pointer;
}
.selected_duration_filter {
  background-color: #219de3;
  color: #ffffff;
  border: 1px solid transparent;
}
.animations {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.animations img {
  width: 23%;
  cursor: pointer;
}
.layouts {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.layouts img {
  cursor: pointer;
}
.selected_animation {
  border: 1px solid #50b0e4;
  border-radius: 10px;
}
.selected_layout {
  border-radius: 10px;
}
.animation_check {
  position: absolute;
  height: 20px;
  top: 13px;
  right: 0;
}
.layout_check {
  position: absolute;
  height: 40px;
  top: -14px;
  right: -10px;
}
.selectCustome {
  width: 100%;
  padding: 10px 10px;
  box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
  border: 1px solid rgb(212, 206, 206);
  border-radius: 5px;
}

@media screen and (max-width: 680px) {
  .bdcolorrow {
    display: block !important;
  }
  .colorDivWidth {
    width: 80%;
    margin: 10px auto;
    text-align: center;
  }
  .colorDivWidth2 {
    width: 45%;
    margin: 10px auto;
    text-align: center;
  }
  .backGroundImgUpload {
    margin-top: 10px;
  }
  .colorDiv {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .colorDiv1 {
    margin: 10px 0px;
  }
  .favIconDiv {
    /* display: block; */
  }
  .layouts {
    display: block;
  }
  .animations {
    display: block;
  }
  .singleLayout {
    margin: 30px 10px;
  }
  .singleAnimation {
    margin: 30px 10px;
  }
  .heading22 {
    text-align: center;
    font-size: 20px;
    padding: 5px 5px;
    margin: 10px 20px 10px 0px;
  }
  .headingbg {
    text-align: left;
    font-size: 20px;
    margin: 10px 0px;
  }
}
